*{
    padding: 0;
    margin: 0;
}
h1 , h2 , h3 , h4 , h5 , h6 ,p ,ul {
    padding: 0;
    margin: 0;
}
.main{
    background-image: url(https://i.ibb.co/fQb6Hb7/pexels-tetyana-kovyrina-937980.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
.main h1{color: #fffffff0;padding: 61px 0px 35px 0px;font-size: 30px;margin-bottom: 20px;text-align: center;font-size: 37px;}
body{
    font-family: "Poppins", Arial, sans-serif;
}
.main-form{

color: #fff;

width: 70%;

margin: auto;

display: flex;

justify-content: space-between;

align-items: center;

font-size: 22px;
}
.contact{

width: 45%;

margin-bottom: 70px;
}
.contact h3{
    
font-size: 35px;
    
color: #dedede;
}
.contact-main{

display: flex;

padding: 17px 0px;

font-size: 20px;

line-height: 30px;
}
.icon{

color: #00ffdacc;
}
.icon i{

}
.info{

margin-left: 27px;
}
.info h4{

color: #fffff;

color: #ffff00b0;
}
.info p{

color: #dedede;

font-size: 17px;
}

.sign{
    
width: 50%;
    
margin-bottom: 40px;
}
.sign h3{

text-align: center;

color: #000;

font-size: 30px;

padding: 30px 0px;
}
.form{
    padding: 20px;
    background-color: #ffffffb5;
    border-radius: 10px;
}
.form h3{
    text-align: center;
    color: #000000ad;
    font-size: 28px;
    padding: 8px 0px;
}
.form form{
}
.form form input{
    
width: 90%;
    
padding: 20px 0px 20px 14px;
    
margin: 10px 10px;
    
font-family: "Poppins", Arial, sans-serif;
    
border: none;
    
border-radius: 5px;
}
.form form input[type="submit"]{

padding: 0;

width: auto;

background-color: #ff00b79c;

color: #ffffff;

border: none;

border-radius: 5px;

padding: 20px 15px;

cursor: pointer;

font-family: "Poppins", Arial, sans-serif;
}
.form form textarea{

width: 90%;

padding: 22px 0px 20px 14px;

margin: 10px 10px;

border-radius: 5px;

font-family: "Poppins", Arial, sans-serif;
}

